In [1]:
import keyword

In [2]:
x,y=20,6

In [3]:
print(x)

20

In [4]:
x

20

In [5]:
y

6

In [6]:
x=y=90

In [7]:
#unpack collection
girls=["Anuja","Nisha","Sonu","Aaradhya"]
print(girls)

['Anuja', 'Nisha', 'Sonu', 'Aaradhya']

In [8]:
a,b,c,d=girls
print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

Anuja
Nisha
Sonu
Aaradhya
Anuja Nisha Sonu Aaradhya

In [9]:
girls=["Anuja","Nisha","Sonu","Aaradhya"]
girls
a,b,c,d=girls
#print(a)
#print(b)
#print(c)
#print(d)
a
#b

'Anuja'

In [10]:
a=20
a

20

In [11]:
a=30
a

30

In [12]:
x="Python is awesome"
print(x)

Python is awesome

In [13]:
x="Python"
y="is"
z="awesome"
print(x,y,z)

Python is awesome

In [14]:
print(x + y + z)

Pythonisawesome

In [15]:
x=3
y=10
print(x+y)

13

In [16]:
x="india"
x

'india'

In [17]:
x="20"
y="90"
x+y #joining/concatination

'2090'

In [18]:
x1=4
x2="Omkar"
print(x1,x2)

4 Omkar

# Data Types

In [19]:
x="india"
print(x)

india

In [20]:
print(type(x))

<class 'str'>

In [21]:
x1=90.08
print(type(x1))

<class 'float'>

In [22]:
x2=1j
print(type(x2))

<class 'complex'>

In [23]:
x3=True
type(x3)

bool

In [24]:
x4=None
type(x4)

NoneType

In [25]:
#casting a variable tyoe
b=int(30.90)
b

30

In [26]:
type(b)

int

In [27]:
b1=str(b)
b1

'30'

In [28]:
type(b1)

str

In [29]:
b2=float(b1)
b2

30.0

In [30]:
type(b2)

float

In [31]:
b3=complex(b2)
b3

(30+0j)

In [32]:
type(b3)

complex

In [33]:
b4=bool(b3)
b4

True

In [34]:
type(b4)

bool

In [35]:
import sys

In [36]:
c=3099
c

3099

In [37]:
sys.getsizeof(c)

28

In [38]:
a="hello world!"
print(a)

hello world!

In [39]:
a[0]#indexing start with '0' always

'h'

In [40]:
a[0:4]

'hell'

In [41]:
print(len(a))

12

In [42]:
a1="edubridgeindia"
a1

'edubridgeindia'

In [43]:
a1[6:9]

'dge'

In [44]:
a1[11:14]

'dia'

In [45]:
a2="consectetur adipiscing elit"
a2

'consectetur adipiscing elit'

In [46]:
a2[3:7]

'sect'

In [47]:
a2[7:11]

'etur'

In [48]:
a2[24:27]

'lit'

In [49]:
a2[15:20]

'pisci'

In [50]:
a2[10:27]

'r adipiscing elit'

In [51]:
a2[0:11]

'consectetur'

In [52]:
#-v indexing 
a2="hello"
a2

'hello'

In [53]:
a2[-1:-3]

''

In [54]:
a2[2:5]

'llo'

In [55]:
a2[-3:]

'llo'

In [56]:
a2[-5:-2]

'hel'

In [57]:
a2[:-2]

'hel'

In [58]:
a1="India is my country"
a1

'India is my country'

In [59]:
a1[-10:-8]

'my'

In [60]:
a1[-5:-2]

'unt'

In [61]:
a1[-15:-11]

'a is'

In [62]:
a1[-18:-15]

'ndi'

In [63]:
a1[-9:-5]

'y co'

In [64]:
b1="""India is my country,
    I am living in maharashtra.
    My name is Nisha"""

In [65]:
b1

'India is my country,\n    I am living in maharashtra.\n    My name is Nisha'

In [66]:
a=20
b=30
c=a+b
print(a,end="\t")#tab/ 4 white space
print(a,end="\b")#backspace

20	20

In [67]:
print(a,b,sep='-',end="!")

20-30!

In [68]:
input()

999

'999'

In [69]:
input("Enter your name: ")

Enter your name: Nisha

'Nisha'

In [70]:
input("enter first no: ")
input("second no: ")

enter first no: 8
second no: 7

'7'

# Modification of string

In [71]:
z="india"
z

'india'

In [72]:
z1=z.upper()

In [73]:
z1=z.upper() 
z1

'INDIA'

In [74]:
z2=z1.lower()
z2

'india'

In [75]:
z3="  hello, World!  "  
z3

'  hello, World!  '

In [76]:
z4=z3.strip()#remove unwanted space from start and end
z4

'hello, World!'

In [77]:
z4

'hello, World!'

In [78]:
z5=z4.replace("h","M")
z5

'Mello, World!'

In [79]:
z5=z4.replace("World","Nisha")
z5

'hello, Nisha!'

# split function

In [80]:
print(z4.split(","))

['hello', ' World!']

# Concatenation of string

In [81]:
a1="Hello"
b1="everyone"
c1=a1+b1
c1

'Helloeveryone'

In [82]:
c2=a1+" "+b1
c2

'Hello everyone'

In [83]:
a="india"
a*2

'indiaindia'

In [84]:
a1=20
a1*4

80

In [85]:
b="helloworld"
b[-5:-2]

'wor'

In [86]:
a="anuja kanawade"
a[-13:-7]

'nuja k'

In [87]:
a="density based spatial cluster"

In [88]:
a[3:7]

'sity'

In [89]:
a[-26:-22]

'sity'

In [90]:
a[17:21]

'tial'

In [91]:
a[-12:-8]

'tial'

In [92]:
a[22:26]

'clus'

In [93]:
a[-7:-3]

'clus'

In [94]:
a[10:13]

'sed'

In [95]:
a[-19:-16]

'sed'

In [96]:
a[14:21]

'spatial'

In [97]:
a[-15:-8]

'spatial'

In [98]:
# formating string
age=20
name="nisha"
t="my name is {} , i am {}"
print(t.format(name,age))

my name is nisha , i am 20

In [99]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [100]:
print("my name is \"anuja\". ")

my name is "anuja".

In [101]:
print("hello\nnisha")

hello
nisha

In [102]:
a=10
print("the value is {}".format(a))

the value is 10

In [103]:
#specifiers ========= %f = float , %s = string  , %d = integer

In [104]:
name="nisha"
print("hello my name is %s" %(name))

hello my name is nisha

In [105]:
a=10
b="john"
c=20.33
print("the age is %d name is %s and height is %f" %(a,b,c))

the age is 10 name is john and height is 20.330000

In [106]:
print("the age is {} name is {} and height is {}".format(a,b,c))

the age is 10 name is john and height is 20.33

In [107]:
print("the age is",a,"name is",b,"and height is",c)

the age is 10 name is john and height is 20.33

In [108]:
#booblean for null bool is false

In [109]:
print(bool(12),bool("anuja"),bool(""))

True True False

# python operators

1 arithmetic
2 assignment
3 comaprison
4 logical
5 Identity
6 Membership

### arithmetic operators

#### +  ,  - ,  *,  / , % , ** , //

In [110]:
4%2 # remainder modulus division

0

In [111]:
4/2

2.0

In [112]:
2**2 #exponential

4

In [113]:
15//2  # floor division (division= 7.5 so floor =7 & ceiling = 8)

7

### assignment operators

## =  , +=  , -=  , *= , /= , %= , //= , **=

In [114]:
x=5
x+=3
x

8

In [115]:
x -= 1
x

7

In [116]:
x *= 2
x

14

In [117]:
x %= 2
x

0

In [118]:
x=5
x //= 3
x

1

In [119]:
x **= 3
x

1

### comparison operators

## ==, != , > , < , <= ,>=

In [120]:
20==10

False

In [121]:
2 != 20 #not equal to

True

In [122]:
30<10

False

In [123]:
30>10

True

In [124]:
10<=30

True

## logical operators

### AND , OR , NOT

In [125]:
x<5 and x>10

False

In [126]:
x<2 and x>20

False

In [127]:
x>2 and x>1

False

In [128]:
x=3
y=2

In [129]:
x==3 and y==2

True

In [130]:
# if any one condition is true then result is true

In [131]:
x>1 or y >3 # T or F == T

True

In [132]:
x> 5 or y>5 #F or F === F

False

In [133]:
not(x> 5 or y>5) ## not(False)

True

### Identity operators ( works with memory location) 
comparison operators(compare elements)

### is , is not

In [134]:
x="anuja"
y="anuja"
print(x is y)
print(id(x),id(y))

True
2085817270384 2085817270384

In [135]:
a=["anuja"]
b=["anuja"]
print(a is b)
print(id(a),id(b))

a=b #making them same 
print(a is b)
print(id(a),id(b))

False
2085817273792 2085817273984
True
2085817273984 2085817273984

In [136]:
a=["apple","banana"]
b=["apple","banana"]
print("using \"comparison\" operator a==b :",a==b)
print("using \"is\" operator a is b:",a is b)
print("using \"is not\" operator a is not b:" ,a is not b)

using "comparison" operator a==b : True
using "is" operator a is b: False
using "is not" operator a is not b: True

In [137]:
print(a!=b) # not equal operator ...but the elements re same

False

In [138]:
a=20,30
b=10,40
print(a is b)

False

### Membership operators = in , not in

In [139]:
x1=["red","blue","black"]
print("red" in x1)
print("red" not in x1) ## red is member of x1

True
False

In [140]:
help("binary value")

No Python documentation found for 'binary value'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

## Bitwise operator

In [141]:
print(bin(-4).replace("0b", ""))

-100

In [142]:
print(8 & 2) # and operator

0

In [143]:
print(~3) # not operator

-4

In [144]:
first_name ="anuja"
last_name = "kanawade"
print("my name is {} {}".format(first_name,last_name))
print("my name is {1} {0}".format(first_name,last_name))

my name is anuja kanawade
my name is kanawade anuja

In [145]:
print("my name is %s %s" %(first_name,last_name))

my name is anuja kanawade

In [146]:
a="anuja"
b=int(a)
type(b)

ValueError: invalid literal for int() with base 10: 'anuja'

In [ ]:
a="1234"
b=int(a)
type(b)

In [ ]:
a=5+3j
type(a)
b=int(a)
type(b)

# LIST

[]
built in data type 
contained mixed data items
1-D
ordered , mutable(changeable) , allows duplicates

In [147]:
l1=["anuja",56,2.5,True] # mixed data items

In [148]:
l1[1::-1]

[56, 'anuja']

In [149]:
l1[1]=0
print(l1) # changeable

['anuja', 0, 2.5, True]

In [150]:
l1.insert(3,2.5) # only at particular index (index,element to add)
print(l1)

['anuja', 0, 2.5, 2.5, True]

In [151]:
l1[1:3]=["a","b"]
l1

['anuja', 'a', 'b', 2.5, True]

In [152]:
list1=["pune","mumbai",100,333,22.34,90.89,True,"Delhi","Red",45]

In [153]:
list1[1:4]

['mumbai', 100, 333]

In [154]:
list1[5:8]

[90.89, True, 'Delhi']

In [155]:
list1[-2:]

['Red', 45]

In [156]:
list1[:4]

['pune', 'mumbai', 100, 333]

In [157]:
list1.insert(7,"bangalore")

In [158]:
list1

['pune',
 'mumbai',
 100,
 333,
 22.34,
 90.89,
 True,
 'bangalore',
 'Delhi',
 'Red',
 45]

In [159]:
list1[-2] ="black"
list1

['pune',
 'mumbai',
 100,
 333,
 22.34,
 90.89,
 True,
 'bangalore',
 'Delhi',
 'black',
 45]

In [160]:
list1[1:4]=["india","chennai","noida"]

In [161]:
list1

['pune',
 'india',
 'chennai',
 'noida',
 22.34,
 90.89,
 True,
 'bangalore',
 'Delhi',
 'black',
 45]

In [162]:
list1.append(1000)

In [163]:
print(list1)

['pune', 'india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [164]:
a1=[1,2,3]
a2=[4,5,6]
a1.extend(a2)
print(a1)

[1, 2, 3, 4, 5, 6]

In [165]:
a1.append(a2)

In [166]:
a1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

# Adding elements to list - insert , append , extend 

insert - add element at particular location .
        can add only single element.at particular loc.
        u can also add whole list bt that will become nested list.
        
append - add element last position

extend - add elements combine elements of 2 lists

# remove(),pop(),del(),clear(),

In [167]:
print(list1)

['pune', 'india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [168]:
list1.remove("pune")

In [169]:
print(list1)

['india', 'chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [170]:
list1.pop(0)
print(list1)

['chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [171]:
list1.pop() # by default last element del

1000

In [172]:
print(list1)

['chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45]

In [173]:
del list1[0]
print(list1)

['noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45]

In [174]:
del list1 #delete list

In [175]:
print(list1)

NameError: name 'list1' is not defined

In [176]:
l1=['chennai', 'noida', 22.34, 90.89, True, 'bangalore', 'Delhi', 'black', 45, 1000]

In [177]:
l1.clear() # only delete elements not list
print(l1)

[]

In [178]:
a1=["anuja","i", "am","happy"]

In [179]:
print([x for x in a1 if "a" in x])

['anuja', 'am', 'happy']

In [180]:
a1.sort() # to use sort ur list must have same data type
print(a1) # default ascending

['am', 'anuja', 'happy', 'i']

In [181]:
a1.sort(reverse=True)
print(a1)

['i', 'happy', 'anuja', 'am']

In [182]:
a1.reverse()
a1

['am', 'anuja', 'happy', 'i']

In [183]:
a1.reverse()
a1

['i', 'happy', 'anuja', 'am']

copy = original data is not changed

In [184]:
a2=a1.copy()

In [185]:
a2[0] = 12

In [186]:
print(a1)
print(a2)

['i', 'happy', 'anuja', 'am']
[12, 'happy', 'anuja', 'am']

In [187]:
a3 = a1+a2
print(a3)

['i', 'happy', 'anuja', 'am', 12, 'happy', 'anuja', 'am']

In [188]:
a3[0] = "mumbai-pune"
print(a3)
print(a1)

['mumbai-pune', 'happy', 'anuja', 'am', 12, 'happy', 'anuja', 'am']
['i', 'happy', 'anuja', 'am']

## take one list do remove,clear,del ,append, extend
concatenation operation

In [189]:
l1=['chennai', 'noida', 22.34, 90.89, True,'Delhi', 'black', 45, 1000]
print(l1)

['chennai', 'noida', 22.34, 90.89, True, 'Delhi', 'black', 45, 1000]

In [190]:
l1.remove(22.34)
print(l1)

['chennai', 'noida', 90.89, True, 'Delhi', 'black', 45, 1000]

In [191]:
del l1[0]
print(l1)

['noida', 90.89, True, 'Delhi', 'black', 45, 1000]

In [192]:
l1.clear()

In [193]:
print(l1)

[]

In [194]:
l1.append("anuja")

In [195]:
print(l1)

['anuja']

In [196]:
l2=[2,3,4]

In [197]:
l1.extend(l2)

In [198]:
print(l1)

['anuja', 2, 3, 4]

In [199]:
l3=['anuja', 2, 3, 4]

In [200]:
print(l1+l3)

['anuja', 2, 3, 4, 'anuja', 2, 3, 4]

## tuple

In [201]:
#()
#mixed data types
#immutable /unchangeble
#ordered preserve
#can not remove element
#1-d
#allows duplicates

(),ordered,duplicates allowed
mix data types,
immutable(cant add or remove elements , (clear,append,insert not works)
only del method work with tuple

In [202]:
#here u can do indexing like list
t=tuple((1,"anuja",True)) 
# for passing elements directly in tuple there must be (( ))
# in single () bracket just need to write single obj.

In [203]:
t=tuple(1,"anuja",True)

TypeError: tuple expected at most 1 argument, got 3

In [204]:
t=(1,"anuja",True)

In [205]:
mytuple=tuple(t)
print(mytuple)

(1, 'anuja', True)

In [206]:
t1 = ('physics', 'chemistry', 1997, 2000)

In [207]:
#unpacking of tuple this can be use with others data types
t3=("aaa","vvv","mmm")
(ttt,sss,ppp)=t3

# ttt , sss this are elements & "aaa" this are lables .
#you can only access lables using elements 

print(ttt)
print(sss)
print(ppp)

aaa
vvv
mmm

In [208]:
t4=t1+t3
print(t4)

('physics', 'chemistry', 1997, 2000, 'aaa', 'vvv', 'mmm')

In [209]:
t5 = t1*2
print(t5)

('physics', 'chemistry', 1997, 2000, 'physics', 'chemistry', 1997, 2000)

## set

### add , update , remove, discard, pop,clear,del,union,intersection,symmetric_difference

In [210]:
#{}
#unordered
#immutable,unchangeable
#no-duplicates
#mix-data types
#unindexed(can't do indexing)

In [211]:
s1={"aaa","bbb",True,5,9}
print(s1) # unoredered

{True, 5, 'bbb', 9, 'aaa'}

In [212]:
s2=set(("anu","bat",1999)) # set constructor
print(s2)

{'anu', 1999, 'bat'}

In [213]:
print(type(s2))

<class 'set'>

In [ ]:
s1.add("apple")
s1

In [ ]:
s1.update(s2)
s1 # s2's elements will be added to s1
#duplicate elements not added

In [ ]:
s1.remove(1999)
print(s1)
# if item not in memory after removing then remove throws error
# again apply remove on same element throws error

In [ ]:
s1.remove(1999)

In [ ]:
s1.discard(True)
print(s1)
# not throws error

In [ ]:
s1.discard(1999) # not throwed error & run successfully as still 1999 is del

In [ ]:
s1.pop() # removes random element... so here it removes "bat"

In [ ]:
s1.clear() # del elements bt structure remains as it is

In [ ]:
s1

In [ ]:
del s1 # delete the structure of set

In [ ]:
s1

In [ ]:
s1={1,2,3,4}
s2={"a","b",5,9}

In [ ]:
s1.union(s2)

In [ ]:
z=s1.intersection(s2)
z

In [ ]:
z1=s1.symmetric_difference(s2)
z1

# tuple`task

In [ ]:
a1=("anuja","anuja",1,2,1)#mixed data types ,allows duplicates
type(a1)

In [ ]:
print(a1) #ordered preserve

In [ ]:
a1[0]="diksha" #immutable /unchangeble

In [ ]:
del a1[0] #can not remove element

## set task

In [ ]:
s1={"anuja",True,1,0,3} #mixed data types ....
# here true and 1 has same meaning so it will igonre 1 as it comes after True 
type(s1)

In [ ]:
print(s1) #unordered

In [ ]:
s1={"anuja",True,1,0,3,3} #no-duplicates

In [ ]:
print(s1)

In [ ]:
s1[0] #can't do indexing

In [ ]:
s1={"anuja",True,1,False,0,3,3} # look the logic 1=true and 0=flase
s1

In [ ]:
s2={3, False, True, 'anuja',"mylife"}
s2

In [ ]:
if "apple" in s1:
    print("yes")
else:
    print("No")

## frozenset

In [ ]:
list1=[11,12,13,True,"anuja"]
x1=frozenset(list1)
x1
type(x1)

In [ ]:
x1[0]="itsme"

In [ ]:
x1.add("anuja") # can't add elements in frozenset , immutable

## Dictionary

In [ ]:
#{}
#key-value pair always
#prserve given order
#not allows duplicates
#add data(mutable)
#remove data
#update the existing data
#nested dict

In [ ]:
a= {"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[33,38,40],
"weight":[23,20,22],
    }

In [ ]:
print(a["rollno"]) # preserves order

In [ ]:
print(a["weight"]) # duplicates not allowed

In [ ]:
print(a.get("weight"))

In [ ]:
len(a)

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
a["location"]=["mumbai","pune","satara","kolhapur"] # adding new key and also added 4 values

In [ ]:
print(a)

In [ ]:
a["girls"]=["anuja","me","mine"]
a

In [ ]:
a["girls"]=["radhika"]
a

In [ ]:
a.items()# op in form of tuple

In [ ]:
if "girls" in a:
    print("yes")

In [ ]:
a.update({"location":['mumbai', 'pune', 'satara', 'solapur']})
a

In [ ]:
a.pop() # this only works in list

In [ ]:
a.pop("location")

In [ ]:
a

In [ ]:
a.popitem() # remove last key
a

#### also apply functions like clear() , del()

In [ ]:
a= {"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[33,38,40],
    }

In [ ]:
new_a = a.copy()
new_a

In [ ]:
a= {
  "d1" : {
"girls" : ["anuja","nisha","mine"],
"rollno" :[ 1,2,3,],
"weight":[3,8,4],
    } ,

 "d2" : {
"girls" : ["anuja1","nisha1","mine1"],
"rollno" :[4,5,6],
"weight":[33,88,44],
    },


 "d3" : {
"girls" : ["anuja2","nisha2","mine2"],
"rollno" :[7,8,9],
"weight":[333,888,444],
    },
}

In [ ]:
a["d2"]["rollno"]

In [ ]:
s1={1,2,3,4,5}
s2={6,7,8,9}

In [ ]:
s1.add("India")

In [ ]:
# u can't modified elements of sets ..as indexing is not possible

In [ ]:
s2.update(s1)
s2 # s1 added to s2

In [ ]:
s1

In [ ]:
s2.discard("India")
s2

In [ ]:
s2.remove(9)
s2

In [ ]:
s2.pop()

In [ ]:
s2.pop()

In [ ]:
s2.pop()

In [ ]:
s2.pop()

In [ ]:
d={
    "name":("anuja","radhika"),
    "age":(23,24),
    "loc":("panvel","nashik")
}

In [ ]:
d.update({"name":["banglore","radhika"]})

In [ ]:
d

In [ ]:
d["name"]=[1,2,3] # using accessing elements

In [ ]:
d

## conditional statements

In [ ]:
a=100
b=50

if a==b:
    print("same")
else:
    print("different")
#######################################    
if a!=b:
    print("not equals")
else:
    print("same")
    
###################################################    
if a > b:
    print("a is greater")
else:
    print("b is greater")
################################################
if a < b:
    print("a is smaller")
else:
    print("b is smaller")

In [ ]:
a=5
b=10
if a > b:
    print("a is greater")
elif a==b:
    print("they are same")
else:
    print("b is greater")

In [ ]:
a = -5
if a >= 0:
    print("positive")
else:
    print("negative")

In [ ]:
a=float(input("enter no : ")) #float also takes int
if a >= 0:
    print("positive number")
else:
    print("negative number")
print("thank u")

##### homework

#### WAP ask user to enter minutes and convert that in to hours

In [ ]:
m = float(input("enter minutes : "))
h=m/60
print("{} minutes means {} hours ".format(m,h))

#### WAP ask two number to user and print largest number

In [ ]:
a = float (input("enter first Number : "))
b = float (input("enter second Number : "))
if (a>b):
    print("Largest Number is {}".format(a))
elif (a==b):
    print("Both Numbers are same")
else :
    print("Largest Number is {}".format(b))

#### wap to find rate per hour

In [ ]:
r=int(input("enter rate: "))
speed=r/60
print("speed is:",speed)

In [ ]:
kilograms=float(input("Enter the kilograms:"))
grams=kilograms*1000
print(grams,"Grams")

In [ ]:
a=10
if(a<=20):
    print("less than 20")
elif(a>=21 and a<=40):
    print("less than 40")
elif(a>=41 and a<=50):
    print("value of a is 50")
else:
    print("value of a is greater than 50")

In [ ]:
a=200
b=90
c=500
if a>b and c>a:
    print("both condition are true")

In [ ]:
a=200
b=90
c=500
if a>b or c>a:
    print("both condition are true")

In [ ]:
a=200
b=90
if not a<b:
    print("")

In [ ]:
#wap to check given number is odd or even
a=int(input("Enter the Number:"))
if(a%2)==0:
    print("a is even")
else:
    print("a is odd")

# wap accept charater from user and check whether it is upper or lower case

In [ ]:
ch=str(input("Enter input:"))
if "A"<=ch[0]<="Z":
    print("Upper Case")
elif "a"<=ch[0]<="z":
    print("Lower Case")
else:
    print("Invalid Input")

# Nested if

In [ ]:
x=40
if x>10:
    print("greater than 10")
    if x>20:
        print("greater than 20")
else:
        print("not above 20")

In [ ]:
age=int(input("enter the age:"))
if age>=1 and age<=13:
    print("this is under the kids")
else:
    if age>=13 and age<=19:
        print("this is under the teenager")
    elif age>19 and age<=59:
        print("this is under the adult")
    else:
        print("this is under senior citizen")

In [ ]:
num=int(input("Enter the number"))
if num>0:
    if num%2==0:
        print("the number is positive and even")
    else:
        print("the number is positive and odd")
else:
    print("the number is negative")

# Loops:For and while

In [ ]:
li_1=["Car","Truck","Bus","Flight"]
print(li_1[0])
print(li_1[1])
print(li_1[2])
print(li_1[3])

In [ ]:
for i in li_1:
    print(i)

In [ ]:
for i in "India":
    print(i)

In [ ]:
li_1

In [ ]:
#Break 
for x in li_1:
    print(x)
    if x=="Flight":
        break

In [ ]:
for x in li_1:
    if x=="Flight":
        break
    print(x)

In [ ]:
username=input("Enter your Username:")
password=input("Enter your password:")
if username=="admin" and password == "1234":
    if password=="1234":
        print("week password")
    else:
        print("worng password")
else:
    if username=="admin" and password=="admin":
        print("credentials are correct and login successful")
    else:
        print("credentials are not correct")

In [ ]:
name=str(input("enter name:"))#input()bydefault take any input as string
for i in name:
    print(i)

In [ ]:
#WAP TO DISPLAY NUMBERS B/W 1 TO 100 WHICH ARE EVEN
for i in range(0,101,2):
    print(i)

In [ ]:
for i in range(1,50,5):#range (start index,stop index,step)
    print(i)

In [ ]:
for i in range(15):#bydefault start form 0
    print(i)

In [ ]:
for i in range(15):
    print(i)
    if i==7:
        break
    print(i)

In [ ]:
#nested for loop
color=["red","blue","black","green"]
fruits=["banana","apple","mango","watermelon"]
for x in color:
    for y in fruits:
        print(x,y)

In [ ]:
d1={"name":["abc","xyz"],"age":[10,20],"city":["mumbai","delhi"]}
d1

In [ ]:
for i in d1.values():
    print(i)

In [ ]:
for i,m in d1.items():
    print(i,m)

In [ ]:
l1=[10,20]
l2=[5,10,20]
for i in l1:
    for y in l2:
        if i==y:
            break
        print(i,y)

In [ ]:
for i in "india": #pass allows us to execute any loop or decision making statement without code body
    #print(i)
    pass

In [ ]:
if 10<20:
    pass

# Continue

In [ ]:
#continue to skip certain iteration 
for i in range(10):
    if i==5:
        continue
    print(i)

In [ ]:
#WAP to get o/p with number lower than 100
l=[10,20,30,40,200,500,80] # if i>80 than next print not executed
for i in l:
    if i>80:
        continue
    print(i)

In [ ]:
#WAP to get o/p with number 
l=[10,20,30,40,200,500,80]
for i in l:
    if i==200 or i==500:
        continue
    print(i)

# While loop

In [ ]:
i=1 #while loop execute util condition is true
while i<10:
    print(i)
    i+=1

In [ ]:
i=1 
while i<10:
    #print(i)
    if i==7:
        break
    print(i)
    i+=1

In [ ]:
i=0
while i<20:
    i+=1
    if i==10:
        continue
    print(i)

In [ ]:
i=1 
while i<5:
    print(i)
    i+=1
else:
    print("rest of the values are greater then 5")

In [ ]:
a=map(int,input("enter elements you wants in list:").split())
lst=[]
for i in a:
    if i<5:
        lst.append(i)
print(lst)

In [ ]:
l=[]
i=0
while len(l)<5:
    l.append(i)
    i+=1
print(l)

In [ ]:
type(l)

In [ ]:
r=int(input("Enter the value of radius of circle:"))
A=3.14*r*r
C=2*3.14*r
print("the area of the circle is {} and circumference is {}".format(A,C))

In [ ]:
m=[23,45,12,10,25]
i=0
sum=0
while i<len(m):
    sum+=m[i]
    i+=1
print(sum)

In [ ]:
m1=[23,45,12,10,25]
result=sum(m1)
print(result)

In [ ]:
m1=[23,45,12,10,25]
total=0
for element in range(0,len(m1)):
    total=total+m1[element]
print(total)

In [ ]:
#finding the average of five numbers using while loop
num=5
sum=0
i=0


while num>0:
    i+=1
    f=int(input("enter the number:"))
    sum+=f
    num-=1
avg=sum/i
print("average is:",avg)

In [ ]:
#printing the square of numbers using while loop
num=int(input("enter a number:"))
count=1
while count<=num:
    square=count**2
    print(square)
    count+=1

# Functions

In [ ]:
#user define and built in function

In [ ]:
def fun1():
    print("Hello")

In [ ]:
fun1()

In [ ]:
a=2
b=20
a+b

In [ ]:
def addition(a,b):
    c=a+b
    print("Addition is:",c)

In [ ]:
addition(2,3)

In [ ]:
def fun2(name):
    print(name + " data analyst")

In [ ]:
fun2("Nisha")

In [ ]:
fun2("Sonu")

In [ ]:
def add_1(a,b,c,d):
    c1=a+b+c+d
    print(c1)

In [ ]:
add_1(2,2,3,4)

In [ ]:
#WAP prepare function to multiply 3 numbers
def mul(a,b,c,):
    x=a*b*c
    print("Multiplication is:",x)

In [ ]:
mul(1,2,3,)

# Range & xRange

In [ ]:
a=range(1,100)
print(type(a))

In [ ]:
import sys
sys.getsizeof(a)

In [ ]:
b=xrange(1,100)#Less memeroy
print(type(b))

In [ ]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

In [ ]:
#printing the square of numbers using while loop
i = 1
while i != 0:
    num = int(input("enter a number: "))
    squ = num * num
    print(f"Square of number is : {squ}")
    i = int(input("To continue: enter 1 To exit : enter 0"))

In [ ]:
#write a program to accept a string from the user and display it vertically but don't display the vowels
def display_vert_without_vowels(string):
    vowels="aeiouAEIOU"
    for char in string:
        if char not in vowels:
            print(char)
user_input=input("Enter a string:")
display_vert_without_vowels(user_input)

In [ ]:
name=input("Enter the name:")
i=0
while i<len(name):
    if name[i]in["A","E","I","O","U","a","e","i","o","u"]:
        pass
    else:
        print(name[i])
    i+=1

In [ ]:
#write a python program which accepts the user's first and last name and print them in reverse order with a space between them.
name=input("Enter your name:")
print(name[::-1])

In [ ]:
a=input("Enter first name")
b=input("Enter last name")
c=a+" "+b
c[::-1]

In [ ]:
def reverse(string):
    string=string[::-1]
    print(string)
s="Nisha Nikam"
reverse(s)

In [ ]:
#iterator variable
num=1
while num<=5:
    print(num)
    num+=1 #num=num+1

In [ ]:
i=10
while i>0:
    print(i)
    i-=1
print("lift off!")

In [ ]:
#Accumulate results
#Sum of first 10 natural numbers
N=int(input("Enter a number:"))
i=1  #iterator variable
sum=0  #Accumulate variable
while i<=N:
    sum+=i
    i+=1
print(f"Sum of first {N} natural numbers: {sum}")

In [ ]:
#Factor of a number: Eg:Factor of 12 :1,2,3,4,6,12
number=int(input("Enter a number to find it's factor:"))
factor=1
print(f"Factors of {number} are:")
while factor<=number:
    if number%factor==0:
        print(factor)
    factor+=1

# LCM of 2 Number

In [ ]:
a=24
b=36
n=max(a,b)
lcm=a*b
while n!=a*b:
    if n%a==0 and n%b==0:
        lcm=n
        break
    n+=1
print(f"LCM of {a} and {b}={lcm}")

In [ ]:
#Prime or not
#
x=19
n=2
while n!=x:
    if x%n==0:
        print("not prime")
        break
    n+=1
else:
    print("prime")

# prime Factorization

In [ ]:
#Eg: 24=2x2x2x3
n=24
factor=2
prime_factors=[]
print("Prime factors of {n} are :",end='')
while n>1:
    if n%factor==0:
        prime_factors.append(factor)
        n=n/factor
        continue
    factor+=1
print(*prime_factors, sep=', ')

In [ ]:
print(*[1,2,3], sep='x')

# For Loop

In [ ]:
grocery_list=['milk','coffee','bread','butter']
index=0
while index<len(grocery_list):
    item=grocery_list[index]
    print(item)
    index+=1

In [ ]:
for item in grocery_list:
    print(item)

In [ ]:
for letter in "python":
    print(letter)

In [ ]:
employee=(204897,'Arjun','Male','IT',True)
for detail in employee:
    print(detail)

In [ ]:
capital={
    "India":"New Delhi",
    "UK":"London",
    "Germany":"Berlin",
    "France":"Paris"
}
for country in capital:
    print(country)

In [ ]:
for state in capital.values():
    print(state)

In [ ]:
for country, state in capital.items():
    print(f"Capital of {country} is {state}.")

In [ ]:
for key in capital:
    value=capital[key]
    print(f"Capital of {key} is {value}.")

In [ ]:
number=12345
for num in str(number):
    num_int=int(num)
    print(f"Square of {num}={num_int**2}")

In [ ]:
list(range(5))

In [ ]:
#factorial
n=int(input("Enter a number:"))
factorial=1
for i in range(1,n+1):
    factorial=factorial*i
print(f"{n}!={factorial}")

In [ ]:
numbers = [66, -97, 54]
for n in numbers:
    if n<0:
        print("The list contains a negative number.")
        break
else:
    print("The list doesn't contains any negative number.")

# nested for loop

In [ ]:
#prime numbers till 50
print("Prime numbers till 50 :- ", end='')
prime_nos=[]
for n in range(2,51):
    for c in range(2,n):
        if n%c==0:
            break
    else:
        prime_nos.append(n)
print(*prime_nos, sep=', ')

# Enumerate

In [ ]:
fruits=['apple','banana','mango']
for index,value in enumerate(fruits):
    print(index,':',value)

In [ ]:
#maximum in a list of numbers and its index
numbers=[5, 3, 8, 4, 6]
max_value=0
max_index=0
for index,value in enumerate(numbers):
    if value > max_value:
        max_value = value
        max_index = index
print(" the greatest number " + str(max_value) + " is at index " + str(max_index))

In [ ]:
def print_pyramid(rows):
    for i in range(rows):
        print(" " * (rows - i - 1) + "*" * (2 * i + 1))
rows=int(input("Enter the number of rows for the pyramid:"))
print_pyramid(rows)

In [ ]:
#function definition
def square_7():
    print(7*7)

In [ ]:
#function call
square_7()

In [ ]:
def cube(n):
    return n**3

In [ ]:
cube(5)

In [ ]:
cube(9)

# Lambda

In [ ]:
#lambda Function: small Anonymous function, 
#can take any number of argument but can have only one expression
#lambda argument:expression

In [ ]:
x=lambda a:a+10
print(x(2))

In [ ]:
x1=lambda a,b:a*b
print(x1(5,6))

In [ ]:
x2=lambda a,b,c:a+b+c
print(x2(2,3,4))

In [ ]:
def myfun(n):
    return lambda a:a*n #alllows to use 2 unknown

In [ ]:
myfun1=myfun(2)
print(myfun1(11))

In [ ]:
x=myfun(2)
x(20)

In [ ]:
get_7_square=lambda:7*7
get_7_square()

In [ ]:
power=lambda num,pow:num**pow

In [ ]:
power(4,2)

In [ ]:
power(10,3)

In [ ]:
#To filter only even numbers from a list using lambda

In [ ]:
numbers=range(1,11)
print("List of numbers:", list(numbers))

In [ ]:
even_nos=list(filter(lambda n: n%2==0, numbers))
print("Even numbers from the list:",list(even_nos))

In [ ]:
odd_nos=list(filter(lambda x: x%2!=0, numbers))
print("Odd numbers from the list:",list(odd_nos))

# MAP

In [ ]:
def double(n):
    return n*2
numbers=(1,2,3,4)
result=map(double,numbers)
print(list(result))

In [ ]:
#map and lambda
numbers=(11,22,33,44,55)
result=map(lambda x: x*2, numbers)
print(list(result))

In [ ]:
#list of Strings
languages=['Python','JavaScript','R','Scala','Java']
#map() can apply built-in or user-defined functions to the list of strings individually
length=list(map(len,languages))
print(length)

In [ ]:
#Square of even numbers from between 1 and 20 using lambda and map.
even_nums=list(map(lambda n: n**2, filter(lambda n: n%2==0, range(1,21))))
even_nums

# Scope of variables

In [ ]:
#Global Scope
#Local Scope

In [ ]:
number=32 #global Scope
def display_num():
    number=99 #Local Scope
    print("Number inside the function: ",number)
display_num()
print("Number Outside the Function:",number)

# Function in a for loop

In [ ]:
msg="Hi!"
def sayHello():
    msg="Hello!"
    print(msg)
    
def sayGoodbye():
    msg="Goodbye!"
    print(msg)
    
for i in range(3):
    sayHello()
for j in range(2):
    sayGoodbye()
    
print(msg)

In [ ]:
def message():
    word="Coding in Python is fun!"  #local variable --it can't be accessed outsie the function
    print(word)
message()
print(word)

In [ ]:
word="I love Python"  #global variable
message()
print(word)

# Global keyword

In [ ]:
def message():
    #'Global' gives global scope to a local variable
    global msg
    msg="Coding in Python is fun!"  #local variable
    print(msg)
    
message()
print(msg)

In [ ]:
def outer_fun():
    word="Hello"  #local variable
    def inner_fun():
        word="World"
        print("Inner function:",word)
    inner_fun()
    print("outer function:",word)
outer_fun()

In [ ]:
def outer_fun():
    word="Hello"  #local variable
    def inner_fun():
        nonlocal word
        word="World"
        print("Inner function:",word)
    inner_fun()
    print("outer function:",word)
outer_fun()

In [ ]:
x="Awesome"
def myfunc():
    x="Object Oriented Language"
    print("Python is " + x)
myfunc()
print("Python is " + x)

In [ ]:
def main():
    integ=20
    def inner():
        global integ
        integ=25
    print("Before calling bar:",integ)
    print("Calling bar now")
    inner()
    print("After calling bar:",integ)
    
main()
print("integ in mainn:",integ)

# User Defined Module

In [214]:
# write the code for which we want to generate the module 
# Copy that code in text file 
# Save it with ".py" extension
# import that module in jupyter where we have to use this module

In [1]:
import Addition_3 as ad3

In [2]:
ad3.add_new(111,211,311)

633

In [3]:
ad3.mul_new(10,20,30)

6000

In [6]:
num=int(input("how many numbers:"))
total=0
for i in range(num):
    number=float(input("enter number:"))
    total+=number
avg=total/num
print("Average of ",num,"number is:",avg)

how many numbers:3
enter number:10
enter number:20
enter number:30
Average of  3 number is: 20.0

In [26]:
import os

In [27]:
os.getcwd()

'C:\\Users\\Admin\\Documents\\GitHub\\edu-python'

In [28]:
path=os.getcwd()

In [29]:
path

'C:\\Users\\Admin\\Documents\\GitHub\\edu-python'

In [30]:
os.listdir(path)

['.git',
 '.ipynb_checkpoints',
 'Addition_3.py',
 'Python_Basics1.ipynb',
 '__pycache__']

In [31]:
directory="india"

In [35]:
p=os.path.join(path,directory)

In [36]:
os.mkdir(p) #make directory

In [38]:
os.listdir(path)

['.git',
 '.ipynb_checkpoints',
 'Addition_3.py',
 'india',
 'Python_Basics1.ipynb',
 '__pycache__']

In [39]:
s='nisha'

In [41]:
p=os.path.join(path,s)

In [42]:
os.mkdir(p) #make directory

In [43]:
os.listdir(path)

['.git',
 '.ipynb_checkpoints',
 'Addition_3.py',
 'india',
 'nisha',
 'Python_Basics1.ipynb',
 '__pycache__']

In [44]:
#os rmdir(p)
os.rmdir(directory)

In [45]:
os.listdir(path)

['.git',
 '.ipynb_checkpoints',
 'Addition_3.py',
 'nisha',
 'Python_Basics1.ipynb',
 '__pycache__']

In [46]:
#os rmdir(p)
os.rmdir(s)

In [47]:
os.listdir(path)

['.git',
 '.ipynb_checkpoints',
 'Addition_3.py',
 'Python_Basics1.ipynb',
 '__pycache__']

In [51]:
#WAP to accept 3 integers from the user and without using any logical operator and cascading of relational operators , find out the greatest number amongst them.
def maximum(a,b,c):
    print("The greatest number:",max(a,b,c))

In [52]:
maximum(10,15,25)

The greatest number: 25

In [ ]:
##WAP to accept 3 integers from the user and without using any logical operator and without using any logical operator and cascading of relational operators , find out the greatest number amongst them.

In [13]:
#Write a program to continuously accept integers from the user until the user types 0 and as soon as 0 is entered display sum of all the nos entered before 0
def main():
    sum = 0

    while True:
        x = int(input("Enter a number (0 to quit): "))
        sum = sum + x
        
        if x == 0:
            break
    
    print("Sum of the entered numbers:", sum)

main()

Enter a number (0 to quit): 14
Enter a number (0 to quit): 15
Enter a number (0 to quit): 0
Sum of the entered numbers: 29

In [54]:
count = 0
sum = 0.0
num = 1
while num != 0:
	num = int(input(""))
	sum = sum + num
	count += 1
print("Sum of all entered number: ",  sum)

10
15
45
0
Sum of all entered number:  70.0

In [56]:
#Write a program to accept an integer from the user and display the sum of all the numbers from 1 to that number
num = int(input("Enter The Number: "))
total_sum = 0
for i in range(1, num + 1):
    total_sum += i
print(total_sum)

Enter The Number: 10000
50005000

In [66]:
# WAP for the given pattern
#****
#***
#**
#*


def pattern(n):
    for i in range(n, 0, -1):
        print('*' * i)
pattern(4)

****
***
**
*

In [5]:
#WAP for the given pattern
#*
#**
#***
#****
#*****
def pattern(n):
    for i in range(1, n+1):
        print('*' * i)
pattern(5)

*
**
***
****
*****

In [6]:
#Write a program that asks the user to enter his/her name and age. Print out a message , displaying the users name along with the year in which they will turn 100 years old.